<% @hash.each do |dista| %>
  <p><%= dista[:title] %></p>
  <% unless dista[:rank_av].nil? %>
    <% 5.times do |i| %>
      <% if dista[:rank_av] >= i+1 %>
        <%= image_tag 'star-on.png' %>
      <% elsif dista[:rank_av] > i && dista[:rank_av] < i+1 %>
        <%= image_tag 'star-half.png' %>
      <% else %>
        <%= image_tag 'star-off.png' %>
      <% end -%>
    <% end -%>
  <% end -%>
<% end -%>