<div id="container">
<div id="mapArea">
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 600px;'></div>
</div>

<script type="text/javascript">
  var infoWindow = false;
	var mapOptions = { mapTypeControl: google.maps.mapTypeControl = false,
					   streetViewControl: google.maps.streetViewControl = false };
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      //handler.fitMapToBounds();
      handler.getMap().setZoom(13);
      handler.getMap().setCenter(new google.maps.LatLng(35.165068597526094, 136.89208984375));
      //var initialBounds = handler.getBounds();
      google.maps.event.addListener(handler.getMap(), "idle", function(event) {
        var center = handler.getMap().getCenter();
        var bounds = handler.getMap().getBounds();
        $.ajax({
            url: "maps/ajax",
            type: "get",
            data: {lat: center.lat,
                    lng: center.lng,
                    upper_lat: bounds.getNorthEast().lat(),
                    lower_lat: bounds.getSouthWest().lat(),
                    upper_lng: bounds.getNorthEast().lng(),
                    lower_lng: bounds.getSouthWest().lng()
                    // upper_lat: handler.bounds.serviceObject.f.b,
                    // lower_lat: handler.bounds.serviceObject.f.f,
                    // upper_lng: handler.bounds.serviceObject.b.f,
                    // lower_lng: handler.bounds.serviceObject.b.b
                    },
            dataType: "script",
            success: function(data) {
            },
            error: function(data) {
            }
        });
      });
    });
</script>

<%= link_to '新しいマップを登録', new_map_path %>
</div><%#mapArea%>
<div id="listDisplay">
</div><%#=listDisplay%>
</div><%#=container%>