<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 600px;'></div>
</div>

<script type="text/javascript">
  var infoWindow = false;
	var mapOptions = { mapTypeControl: google.maps.mapTypeControl = false,
					   streetViewControl: google.maps.streetViewControl = false };
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      //handler.fitMapToBounds();
      handler.getMap().setZoom(15);
      handler.getMap().setCenter(new google.maps.LatLng(35.165068597526094, 136.89208984375));

      google.maps.event.addListener(handler.getMap(), "idle", function(event) {
        var center = handler.getMap().getCenter();
        //alert(handler.getMap().getCenter());
          $.ajax({
              url: "maps/ajax",
              type: "get",
              data: {lat: center.lat,
                      lng: center.lng
                      },
              dataType: "script",
              success: function(data) {
              },
              error: function(data) {
              }
          });
      });

      // google.maps.event.addListener(handler.getMap(), 'click', function() { 
      //   infoWindow = true; 
      //   setTimeout("infoWindow = false", 1000);
      // });
    });
</script>

<%= link_to '新しいマップを登録', new_map_path %>