<div id="container">

<div class="row">
  <div id="map_index_name_search_form" class="form-group col-sm-5">
    <label class="control-label hidden-xs col-sm-1" style="padding: 0; min-width: 70px;" >スポット名</label>
    <div class="col-xs-10 col-sm-8" style="padding-right: 0;">
      <input type="text" name="name" size="30" id="name_search_params" placeholder="スポット名" class="form-control" onchange="search_action(this)">
    </div>
  </div><%#map_index_search_form%>
  <div id="map_index_tag_search_form" class="form-group col-sm-5">
    <label class="control-label hidden-xs col-sm-1" style="padding: 0; min-width: 35px;" >タグ</label>
    <div class="col-xs-10 col-sm-8" style="padding-right: 0;">
      <input type="text" name="name" size="30" id="tag_search_params" placeholder="タグ" class="form-control" onchange="search_action(this)">
    </div>
    <div class="col-xs-2 col-sm-2" style="padding: 0;">
      <button class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-search"></i></button>
    </div>
  </div><%#map_index_search_form%>
</div>

<div class="row">
  <div id="listDisplay" class="col-sm-3 col-sm-push-9 hidden-xs">
  </div><%#=listDisplay%>

  <div id="mapArea" class="col-sm-9 col-sm-pull-3" style="padding: 0;">
    <div id="mapDisplay">
      <div style='width: 100%; '>
        <div id="map" style='width: 100%; min-height: 600px;'></div>
      </div>

      <script type="text/javascript">
        var timeout_id = null;
        var infoWindow = false;
        var mapOptions = { mapTypeControl: google.maps.mapTypeControl = false,
                   streetViewControl: google.maps.streetViewControl = false };
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            //handler.fitMapToBounds();
            handler.getMap().setZoom(13);
            handler.getMap().setCenter(new google.maps.LatLng(35.165068597526094, 136.89208984375));
            //var initialBounds = handler.getBounds();
            google.maps.event.addListener(handler.getMap(), "idle", function(event) {
              var center = handler.getMap().getCenter();
              var bounds = handler.getMap().getBounds();
              $.ajax({
                  url: "maps/ajax",
                  type: "get",
                  data: {lat: center.lat,
                          lng: center.lng,
                          upper_lat: bounds.getNorthEast().lat(),
                          lower_lat: bounds.getSouthWest().lat(),
                          upper_lng: bounds.getNorthEast().lng(),
                          lower_lng: bounds.getSouthWest().lng(),
                          name_search_params: document.getElementById('name_search_params').value,
                          tag_search_params: document.getElementById('tag_search_params').value
                          },
                  dataType: "script",
                  success: function(data) {
                  },
                  error: function(data) {
                  }
              });
            });
          });

        function search_action(obj) {
          var center = handler.getMap().getCenter();
          var bounds = handler.getMap().getBounds();
          $.ajax({
              url: "maps/ajax",
              type: "get",
              data: {lat: center.lat,
                      lng: center.lng,
                      upper_lat: bounds.getNorthEast().lat(),
                      lower_lat: bounds.getSouthWest().lat(),
                      upper_lng: bounds.getNorthEast().lng(),
                      lower_lng: bounds.getSouthWest().lng(),
                      name_search_params: document.getElementById('name_search_params').value,
                      tag_search_params: document.getElementById('tag_search_params').value
                      },
              dataType: "script",
              success: function(data) {
              },
              error: function(data) {
              }
          });
        }
      </script>
    </div><%#mapDisplay%>
    <% unless current_user.nil? %>
      <% if current_user.user_level > 1 %>
        <%= link_to(new_map_path) do %>
          <div id="newMapCreate">
            <P id="map_index_newMap_">新しいマップを登録</P>
          </div>
        <% end -%>
      <% end -%>
    <% end -%>
  </div><%#mapArea%>
</div><%# row %>
</div><%#=container%>