// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body > #container {
	height: auto;
}
#container {
	min-height: 100%;
	height: 100%;
	border: 1px solid pink;
}
#mapArea {
	float: left;
	width: 85%;
}
#listDisplay {
	float: right;
	width: 15%;
}
.listShow {
	background: #FFA3CA;
	border-radius: 5px;
	margin-bottom: 5px;
}
.listShow a {
	padding-left: 5px;
	text-decoration: none;
	line-height: 150%;
}
.listStar {
	margin-top: 0;
}
#mapDisplay {
	margin-bottom: 10px;
}
#newMapCreate {
	clear: both;
	text-align: center;
	line-height: 200%;
	width: 30%;
	height: 2em;
	margin: 0 auto;
	border-radius: 10px;
	background: skyblue;
}
#newMapCreate a {
	text-decoration: none;
}
.comment{
	position: relative;
	width: 90%;
	height: 100px;
	background: #BDFFB8;
	padding: 1px 5px 2px;
	margin: 10px;
	border-radius: 10px;
}
.comment a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
}
.commentTitle {
	font-weight: bold;
	font-size: 15px;
	display: inline;
	line-height: 200%;
	border-bottom: 1px dotted black;
}
.commentText {
	margin: 0;
	font-size: 12px;
	color: #6B6B6B;
}